<ion-header>
  <ion-toolbar class="header-white">
    <div class="logo-centered">
      <img src="assets/logodessinrogne.png" alt="Logo" class="logo-image" />
      <span class="app-name">ANALYSIS PRO</span>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="score-page">

  <div id="main-content">
    <div id="warning-icon">
      <img src="assets/logodessinrogne.png" alt="Logo"  />
    </div>

    <h1>Analyse requise</h1>
    <p>Pour accéder à votre Score IA, nous avons besoin d'analyser votre visage.</p>

    <div id="action-buttons">
      <button class="primary-button">
        <i class="fa-solid fa-camera"></i>
        Prendre une photo
      </button>
      <button class="secondary-button">
        <i class="fa-solid fa-image"></i>
        Choisir une photo
      </button>
    </div>

    <div id="features-preview">
      <div class="feature">
        <div class="icon-bg">
          <i class="fa-solid fa-shield-check"></i>
        </div>
        <span>100% Sécurisé</span>
      </div>
      <div class="feature">
        <div class="icon-bg">
          <i class="fa-solid fa-bolt"></i>
        </div>
        <span>Instantané</span>
      </div>
      <div class="feature">
        <div class="icon-bg">
          <i class="fa-solid fa-lock"></i>
        </div>
        <span>Privé</span>
      </div>
    </div>
  </div>

</ion-content>
