<ion-header>
  <ion-toolbar class="header-white">
    <div class="logo-centered">
      <span class="app-name">FACE</span>
      <img src="assets/logodessinrogne.png" alt="Logo" class="logo-image" />
      <span class="app-name">ANALYSIS PRO</span>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="loading-content">
  <div class="loading-wrapper">
    <h2 class="loading-title">Analysis in progress...</h2>

    <div class="animation-container">
      <img class="face-image"
        [src]="currentPhoto ? currentPhoto : 'assets/face-smile-solid.svg'"
        alt="facial scanning technology">

      <div class="scan-overlay">
        <div class="scan-bar"></div>
      </div>
    </div>

    <p class="loading-description">
      We are analyzing the symmetry, proportions, and shapes of your face...


    </p>

    <div class="progress-container">
      <div class="progress-bar-bg">
        <div class="progress-bar-fill" [style.width.%]="progress"></div>
      </div>
      <div class="progress-labels">
        <span>Facial analysis</span>
        <span>{{ progress }}%</span>
      </div>
    </div>

    <div id="features-preview">
      <div class="feature">
        <div class="feature-icon">
          <ion-icon name="expand-outline"></ion-icon>
        </div>
        <span class="feature-label">Symmetry</span>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <ion-icon name="grid-outline"></ion-icon>
        </div>
        <span class="feature-label">Golden Ratio</span>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <ion-icon name="sparkles-outline"></ion-icon>
        </div>
        <span class="feature-label">Harmony</span>
      </div>
    </div>
  </div>
</ion-content>