<ion-header>
  <ion-toolbar class="header-white">
    <div class="logo-centered">
      <span class="app-name">FACE</span>
      <img src="assets/logodessinrogne.png" alt="Logo" class="logo-image" />
      <span class="app-name">ANALYSIS PRO</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="main-content">
    <h1 id="main-title">Discover what your face truly reveals with our beauty AI.</h1>

    <div id="ai-illustration">
      <img src="https://storage.googleapis.com/uxpilot-auth.appspot.com/588eb60805-71a7d3e7408d682a3822.png" alt="AI illustration" />
    </div>

      <button id="analyze-button" routerLink="/tabs/takepicture">
      Analyze my face
    </button>
    

    <p id="description">
Our AI applies a precision grid to your face and evaluates key proportions in relation to the golden ratio, delivering a detailed and personalized analysis of your facial symmetry and harmony.    </p>

    <div id="features-preview">
      <div class="feature">
        <div class="feature-icon">
          	<ion-icon name="expand-outline"></ion-icon>
        </div>
        <span class="feature-label">Symmetry</span>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <ion-icon name="grid-outline"></ion-icon>
        </div>
        <span class="feature-label">Golden Ratio</span>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <ion-icon name="sparkles-outline"></ion-icon>
        </div>
        <span class="feature-label">Harmony</span>
      </div>
    </div>
  </div>
</ion-content>
