<ion-header>
  <ion-toolbar class="header-white">
    <div class="logo-centered">
      <span class="app-name">GOLDEN RATIO</span>
      <img src="assets/logodessinrogne.png" alt="Logo" class="logo-image" />
      <span class="app-name">ANALYZER</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="history-page">
    <div class="header">
      <div class="header-top">
        <h1 class="header-title">History</h1>
        <button class="header-button">
          <i class="fa-solid fa-filter"></i>
        </button>
      </div>
    </div>
      <div class="header-description">
        Only the last 10 reports are saved. Older ones will be deleted automatically.
      </div>
    <div id="reports-list" class="reports-list" *ngIf="hasReports()">
      <div class="report-card" *ngFor="let r of reports">
        <div class="report-header">
          <div class="report-image">
            <img [src]=" r ? r.imageUrl : 'assets/logodessinrogne.png'" alt="Analysis Photo" />
          </div>
          <div class="report-info">
            <div class="report-info-top">
              <span class="report-title">Analysis</span>
            </div>
            <div class="report-date">{{ r.id }}</div>
          </div>
        </div>
        <div class="report-footer">
          <div class="report-action">
            <i class="fa-solid fa-chart-simple"></i>
            <span>Full report</span>
          </div>
          <button class="report-button" (click)="viewReport(r.id)">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
          <button class="report-button delete-button" (click)="deleteReport(r.id)">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
    </div>

    <div>

    </div>
    <div class="bottom-page">
      <div class="no-history" *ngIf="!hasReports()">
        <p>No analysis history found.</p>
      </div>

      <button class="clear-history" (click)="confirmClearHistory()">
        Clear History
      </button>
    </div>

  </div>
</ion-content>